
<div class='container'>
	<div class="jumbotron">
		<h1>Editable Item Directive</h1>
		<div class='row'>   
			<div make-editable>
				<p>You are sitting all the way in the back of your favorite cafe, drinking a hot cocoa that has just one or two little rivers of chocolate running down the side of the mug, pushed upwards by the weight of the whipped cream heaped on top. You briefly look up from your book to peek outside at the rain falling against the golden leaves, and you remember suddenly that you forgot your umbrella. “Oh well,” you think, “I’ll just have to order another hot chocolate.”</p>
			</div>
		</div>
		<div class='row'>   
			<div make-editable>
				<p> You’re in that perfect part of your city, where trees line the streets and so do your favorite shops, and as you’re walking in and out and through, one hand is holding your coffee, the other someone you love very much. You’re wearing your old sweater and new scarf, and your boots crunch the leaves as you walk, leaves which, of course, are already a myriad of warm, beautiful hues. You go into a cafe with the person whose hand you’re holding, and you sit down at a window table to have brunch. There’s a school bus driving past, and you’re reminded of what fall used to mean to you.</p>
			</div>
		</div>
	</div>

<hr>
</div>