<span ng-transclude></span>
<form  ng-submit='submit()' name='calcForm'>
      <div class='row'>
        <div class='col'>
          <input placeholder='First Name'>
        </div>
        <div class='col'>
          <input placeholder='Last Name'>
        </div>
      </div>  
      <div class='row'>
        <div class='col-12'>
          <input placeholder='Email'>
        </div>
      </div>  
      <div class='row'>
        <div class='col'>
          <button class='btn btn-green pull-left'>Give Us Your Infoz</button>
        </div>
      </div>
</form>